/* Global and Navbar styling */
.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.dashboard-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.dashboard-container h2 {
  font-size: 2rem;
  color: #0047FF;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  z-index: 0; /* Ensures the map layers are correctly displayed */
}
